In [1]:
ls

All_High_order_3_100307.txt  All_High_order_3_147737.txt
All_High_order_3_100408.txt  All_High_order_3_148335.txt
All_High_order_3_101107.txt  All_High_order_3_148840.txt
All_High_order_3_101309.txt  All_High_order_3_149337.txt
All_High_order_3_101915.txt  All_High_order_3_149539.txt
All_High_order_3_103414.txt  All_High_order_3_149741.txt
All_High_order_3_103818.txt  All_High_order_3_151223.txt
All_High_order_3_105014.txt  All_High_order_3_151526.txt
All_High_order_3_105115.txt  All_High_order_3_151627.txt
All_High_order_3_106016.txt  All_High_order_3_153025.txt
All_High_order_3_108828.txt  All_High_order_3_154734.txt
All_High_order_3_110411.txt  All_High_order_3_156637.txt
All_High_order_3_111312.txt  All_High_order_3_159340.txt
All_High_order_3_111716.txt  All_High_order_3_160123.txt
All_High_order_3_113619.txt  All_High_order_3_161731.txt
All_High_order_3_113922.txt  All_High_order_3_162733.txt
All_High_order_3_114419.txt  All_High_order_3_163129.txt
All_High_order_3_115320.txt  All_High_order_3_176542.txt
All_High_order_3_116524.txt  All_High_order_3_178950.txt
All_High_order_3_117122.txt  All_High_order_3_188347.txt
All_High_order_3_118528.txt  All_High_order_3_189450.txt
All_High_order_3_118730.txt  All_High_order_3_190031.txt
All_High_order_3_118932.txt  All_High_order_3_192540.txt
All_High_order_3_120111.txt  All_High_order_3_196750.txt
All_High_order_3_122317.txt  All_High_order_3_198451.txt
All_High_order_3_122620.txt  All_High_order_3_199655.txt
All_High_order_3_123117.txt  All_High_order_3_201111.txt
All_High_order_3_123925.txt  All_High_order_3_208226.txt
All_High_order_3_124422.txt  All_High_order_3_211417.txt
All_High_order_3_125525.txt  All_High_order_3_211720.txt
All_High_order_3_126325.txt  All_High_order_3_212318.txt
All_High_order_3_127630.txt  All_High_order_3_214423.txt
All_High_order_3_127933.txt  All_High_order_3_221319.txt
All_High_order_3_128127.txt  All_High_order_3_239944.txt
All_High_order_3_128632.txt  All_High_order_3_245333.txt
All_High_order_3_129028.txt  All_High_order_3_280739.txt
All_High_order_3_130013.txt  All_High_order_3_298051.txt
All_High_order_3_130316.txt  All_High_order_3_366446.txt
All_High_order_3_131217.txt  All_High_order_3_397760.txt
All_High_order_3_131722.txt  All_High_order_3_414229.txt
All_High_order_3_133019.txt  All_High_order_3_499566.txt
All_High_order_3_133928.txt  All_High_order_3_654754.txt
All_High_order_3_135225.txt  All_High_order_3_672756.txt
All_High_order_3_135932.txt  All_High_order_3_751348.txt
All_High_order_3_136833.txt  All_High_order_3_756055.txt
All_High_order_3_138534.txt  All_High_order_3_792564.txt
All_High_order_3_139637.txt  All_High_order_3_856766.txt
All_High_order_3_140925.txt  All_High_order_3_857263.txt
All_High_order_3_144832.txt  All_High_order_3_899885.txt
All_High_order_3_146432.txt  Untitled.ipynb

In [2]:
import pandas as pd

In [44]:
# Abrindo um dos arquivos
df = pd.read_csv('All_High_order_3_100307.txt', sep=' ',header=[0])
# Convert row to header and remove the row

In [46]:
df

,Joint Ent,Mut Info,Total Corr,nplets,Oinfo,Sinfo,nplets.1
0,9.343298,-0.741413,1.385926,"[1, 2, 3]",0.006335,0.233255,[0 1 2]
1,9.398030,-0.703560,1.543640,"[1, 2, 4]",0.034727,0.384556,[0 1 3]
2,9.483522,-0.846155,1.465243,"[1, 2, 5]",0.002211,0.159668,[0 1 4]
3,9.407543,-0.733977,1.422442,"[1, 2, 6]",0.020601,0.267975,[0 1 5]
4,9.416030,-0.774051,1.517497,"[1, 2, 7]",0.028618,0.308220,[0 1 6]
...,...,...,...,...,...,...,...
125575,9.277683,-0.751414,1.232258,"[88, 91, 92]",0.004071,0.090442,[87 90 91]
125576,9.105360,-0.578496,1.521030,"[89, 90, 91]",-0.012043,0.754843,[88 89 90]
125577,9.418211,-0.723844,1.243583,"[89, 90, 92]",0.000207,0.027203,[88 89 91]
125578,9.369925,-0.715201,1.254498,"[89, 91, 92]",0.003101,0.067126,[88 90 91]
125579,9.166315,-0.617812,1.533861,"[90, 91, 92]",0.001397,0.696099,[89 90 91]